h2 {
  margin-bottom: 12px;
  font-family: sans-serif;
}

.input-area {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  background: #2e86ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0f62d6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f1e9e9;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  align-items: center;
}

li span {
  flex: 1;
}

/* Quando item estiver comprado check quando clicar no item */
li.comprado span {
  text-decoration: line-through;
  opacity: 0.6;
}

.remover {
  background: #ff4b4b;
}

.remover:hover {
  background: #c90000;
}